<div
  class="container md:grid md:grid-cols-2 md:mx-16 md:my-auto flex flex-col justify-center items-center p-4"
>
  <!-- Left Side -->
  <div class="p-4 flex flex-col items-center md:items-start">
    <p class="text-sm md:text-xl">
      Buy & Sell Crypto 24/7 using your retirement account
    </p>
    <h1 class="md:text-4xl text-2xl font-semibold py-4 px-0">
      Invest in crypto with your IRA
    </h1>
    <p class="text-sm">Buy, Sell and store hundreds of Cryptocurrencies</p>
    <div class="p-4 flex flex-col space-y-3">
      <input type="email" placeholder="Enter your email" />
      <button class="btn text-base p-4">Learn More</button>
    </div>
  </div>

  <!-- Right Side -->
  <div class="p-4">
    <div class="w-full flex">
      <img class="max-w-[80%] m-auto" src="../../assets/hero-img.png" alt="" />
    </div>
  </div>
</div>
