<div id="featured" class="w-full py-32 bg-[#f5f8ff] polygon">
  <div class="container grid md:grid-cols-2 justify-center items-center p-4">
    <!-- Left Side -->
    <div class="flex flex-col justify-center pb-8">
      <h2 class="text-3xl font-semibold">
        Explore top Crypto's Like Bitcoin, Ethereum, and Dogecoin
      </h2>
      <p class="my-[1.5rem]">
        See all available assets: Cryptocurrencies and NFTs
      </p>
      <button class="btn self-start w-full md:w-auto">See More Coins</button>
    </div>

    <!-- Right Side -->
    <app-card [coins]="coins"></app-card>
  </div>
</div>
